body {
	background-color: black;
	color: white;
}

footer {
	text-align: center;
}

.main {
	height: 100%;
	text-align: center;
	padding: 300 0 0 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	background-color: black;
	margin: 0px;
}

